
.custom-card {
    border-radius: 14px;
    background: linear-gradient(135deg, #f8fbff, #eef4ff);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
   
}


.custom-card .slds-card__header {
    display: flex;
    justify-content: center;
}

.custom-card .slds-card__header-title {
    justify-content: center;
}

.custom-card .slds-card__header-title span {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}


.slds-grid {
    background: transparent;
    gap: 12px;
}


.slds-col {
    background: linear-gradient(135deg, #ffffff, #f4f8ff);
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}


.slds-col:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 10px 24px rgba(0, 112, 210, 0.25);
}



.slds-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #0070d2,#0070d2);
}


.slds-col b {
    display: block;
    font-size: 22px;
    color: #0070d2;
    margin-top: 6px;
}


.slds-col p {
    font-size: 13px;
    color: #555;
    margin: 0;
}

lightning-button {
    margin-top: 12px;
}


lightning-datatable {
    margin-top: 18px;
    border-radius: 10px;
    overflow: hidden;
}


::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #0070d2;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .slds-grid {
        flex-direction: column;
    }
}